.default{
  text-align: center;
  margin-top: 50px;
  margin-left: 20px;
  font-weight: 600;
}
.testList{
  text-align: center;
  width: 100%;
  margin-top: 40px;
  height: 140px;
  overflow: auto;
  margin-left: 20px;
}
.code{
  width: 30%;
  font-weight: 600;
  font-size: 14px;
  border-bottom: 1px solid #dee2e6;
  padding-top: 2px;
  padding-left: 20px;
}
.testname{
  width: 70%;
  font-weight: 600;
  font-size: 14px;
  border-bottom: 1px solid #dee2e6;
  padding-top: 2px;
}
.thead{
  display: flex;
  height: 30px;
  background-color: #edf0f8;
}