.patient_information_card {
  margin-top: 30px;
  margin-left: 50px;
  margin-bottom: 31px;
}

.first_card_row {
  height: 100%;
  margin-bottom: 30px;
  display: flex;
}

.patient_icon {
  height: 7rem;
  margin-right: 50px;
}

.patient_basic {
  height: 7rem;
}

.patient_basic_information {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 5px;
}

.second_card_row {
  height: 100%;
}

.patient_detail_information {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 5px;
  margin-right: 30px;
}