.imgs:not(.imgs:nth-child(1)){
  margin-left: 30px;
}

.weather_chart{
  margin-top: 20px;
}
.header{
  margin-top: 45px;
  margin-left: 50px;
  font-weight: 600;
  font-size: 16px;
}
.imgs{
  margin-left: 13px;
}