.treatment_tab_border {
  width: 120px;
  height: 40px;
  text-align: center;
  line-height: 40px;
}
.treatment_tab_border_disease {
  width: 300px;
  height: 40px;
  text-align: center;
  line-height: 40px;
}

.treatment_tab_item {
  width: 120px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  padding-left: 5px;
}

.treatment_tab_item_disease {
  width: 300px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  padding-left: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}

.treatment_row:hover {
  background-color:#edf2ff;
}