.toggle{
  width: 100%;
}
.row{
  padding: 0.375rem 0.75rem;
}
.tr{
  text-align: center;
  border-bottom: 1px solid #dee2e6;
  padding-top: 5px;
}
.tr div:nth-child(1){
  width: 130px;
}
.tr div:nth-child(2){
  width: 200px;
}
.tr div:nth-child(3){
  width: 200px;
}
.tr div:nth-child(4){
  width: 200px;
}