.appointment {
  background-color: white;
  border-radius: 30px;
  border-color: white;
  padding: 10px;
  width: 36.5rem;
  height: 440px;
}

.table {
  width: 50%;
}

.title {
  font-weight: 500;
}

.appointment_border {
  width: 100px;
  height: 40px;
  text-align: center;
  line-height: 40px;
}

.appointmentItem {
  width: 100px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  padding-left: 5px;
}

.appointmentRow:hover {
  background-color:#edf2ff;
}

.appointment_content {
  height: 75%;
  overflow: auto;
}

.length {
  color: #fcc419;
  margin-left: 0.5rem;
  width: 90px;
}

.appointment_state {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  cursor: pointer;
}

.appointment_state_selected {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  cursor: pointer;
  color: #fcc419;
}

.patient_name_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.patient_name {
  text-indent: 10px;
  width: 100px;
  border: 0.5px solid #ced4da;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.patient_name::-webkit-input-placeholder {
   font-size: 80%; 
  }

.patient_name:focus {
  outline:none;
}

.patient_name_button {
  width: 40px;
  height: 28px;
  border: 1px solid transparent;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  background-color: #6c757d;
  color: white;
  font-weight: 300;
  font-size: 13px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.patient_name_button:hover{
  background-color: #4d5359;
  color: white;
}
