.save{
  background-color: #066b53;
  border-radius: 20px;
  padding: 5px 20px;
  color: #fff;
  font-weight: 500;
  font-size: 15px;
  vertical-align: middle;
  text-align: center;
  height: 32px;
  margin: 3px;
}


.save:hover{
  background: #008868;
  color: #fff;
}

.addIcon{
  margin-right: 5px;
  font-weight: 400;
}