.save{
  background-color: #066b53;
  border-radius: 20px;
  padding: 10px 20px;
  color: #fff;
  font-weight: 700;
  margin: 5px;
}


.save:hover{
  background: #008868;
  color: #fff;
}

.addIcon{
  margin-right: 10px;
}