.chat{
  z-index: 6;
  position: absolute;
  left: 30;
  bottom: 0;
  width: 400px !important;
  background-color: white !important;
}
.chat_header{
  background-color: #0d4467 !important;
  height: 60px;

}
.chat_body{
  height: 600px;
}
.staffIcon,.chatIcon{
  background: none;
  color: #ffffff;
  text-align: center;
  font-size: 25px;
  border: hidden;
  margin-right: 20px;
}
.staffIcon:hover ,.chatIcon:hover{
  color: rgba(238, 238, 238, 0.726);
}
.chat_header > button{
  margin-left: 230px !important;
  color: #ffffff !important;
  opacity: 1 !important;
}
.chat_header > button :hover{
  color: rgba(238, 238, 238, 0.726) !important;
}