.sympton{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.title{
  width:auto;
  font-weight: 700;
  font-size: 14px;
 
}
.content{
  margin-left: 5px;
  /* border: 1px solid #D3D3D3; */
  border-radius: 5px;
}