.state{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.barcode{
  width: 100%;
  background-color: #00253d;
  border-radius: 20px;
  padding: 6px 20px;
  color: #fff;
  font-weight: 500;
  margin: 5px;
}

.barcode:hover{
  background: #0d4467;
  color: #fff;
}

.ing{
  width: 100%;
  background-color: #965500;
  border-radius: 20px;
  padding: 6px 20px;
  color: #fff;
  font-weight: 500;
  margin: 5px;
}

.ing:hover{
  background-color: #bb6a00;
}

.complete{
  width: 100%;
  background-color: #427203;
  border-radius: 20px;
  padding: 6px 20px;
  color: #fff;
  font-weight: 500;
  margin: 5px;
}

.complete:hover{
  background-color: #57920a;
}

.Icon{
  font-size: 20px;
  margin-right: 10px;
  color: #fff;
}