.test_list {
  background-color: white;
  border-radius: 30px;
  border-color: white;
  padding: 10px;
  width: 72rem;
  height: 100%;
  display: flex;
}

.test_patient_list {
  width: 34rem;
  height: 100%;
}

.test_code_list {
  width: 34rem;
  height: 100%;
  margin-left: 2rem;
}

.test_border {
  width: 120px;
  height: 40px;
  text-align: center;
  line-height: 40px;
}

.test_code_border {
  width: 200px;
  height: 40px;
  text-align: center;
  line-height: 40px;
}

.test_code_item {
  width: 200px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  padding-left: 5px;
}

.code_row:hover {
  background-color:#edf2ff;
}

.test_button {
  display: flex;
  margin-left: 265px;
}

.patient_list_content {
  height: 80%;
  overflow: auto;
}