.patient_information {
  background-color: white;
  border-radius: 30px;
  border-color: white;
  padding: 5px;
  width: 35rem;
  height: 595px;
}

.patient_information_tab {
  margin: 20px;
  height: 250px;
}

.button_area {
  display: flex;
  float: right;
}