.ImgNotice_contain{
  display: flex;
  width: 80%;
  background-color: white;
  border-radius: 30px;
  margin-right: 30px;
}
.Item{
  background-color: #f1f3f5;
  width: 300px;
  height: 280px;
  margin: 20px 20px;
  border-radius: 20px;
  cursor: pointer;
}


.img_contain > img{
  border-radius: 15px;
}
.ImgNoticeItem{
  margin-left: 10px;
}
.ImgNotice_title{
  font-size: 18px;
  font-weight: 600;
  margin-top: 10px;
}
.hitCount{
  margin-left: 10px;
}
.ImgNotice_date{
  font-size: 18px;
}
.hit_date_contain{
  margin-right: 10px;
  margin-top: 5px;
}

.imgItem{
  width: 200px;
  margin-top: 10px;
  border-radius: 20px;
  height: 320px;
}