.search_patient {
  background-color: white;
  border-radius: 30px;
  border-color: white;
  padding: 20px;
  width: 37rem;
  height: 250px;
}
.search_first_content {
  display: flex;
}

.search_second_content {
  display: flex;
  align-items: center;
}
.search_patient_row:hover {
  background-color:#edf2ff;
}

.search_border {
  width: 110px;
  height: 40px;
  text-align: center;
  line-height: 40px;
}

.search_border_tel{
  width: 155px;
  height: 40px;
  text-align: center;
  line-height: 40px;
}

.search_border_gender{
  width: 50px;
  height: 40px;
  text-align: center;
  line-height: 40px;
}
.search_border_birth {
  width: 115px;
  height: 40px;
  text-align: center;
  line-height: 40px;
}

.search_border_visit{
  width: 120px;
  height: 40px;
  text-align: center;
  line-height: 40px;
}

.patient_item {
  width: 100px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  padding-left: 10px;
}
.patient_item_gender{
  width: 50px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  padding-left: 10px;
}

.patient_item_tel {
  width: 155px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  padding-left: 20px;
}

.patient_item_birth {
  width: 115px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  padding-left: 20px;
}

.patient_item_visit {
  width: 120px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  padding-left: 20px;
}