.appointmentItem {
  width: 90px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  padding-left: 5px;
}

.appointmentRow:hover {
  background-color:#edf2ff;
}

.select_box {
  margin-left: 17px;
}