
.test{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
}

.left{
  height: 100%;
}

.search{
  background: #fff;
  border-radius: 10px;
  margin: 10px 0px 10px 0px;
  margin-bottom: 0;
  padding: 20px;
  width: 610px;
}

.leftMiddle{
  display: flex;
  flex-direction: column;
  height: auto;
}

.patientCard{
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #fff;
  border-radius: 10px 10px 0px 0px;
  margin: 10px 0px;
  margin-bottom: 0;
}

.State{
  background: #fff;
  border-radius: 0px 0px 10px 10px;
  text-align: center;
  padding: 30px;
}
.testList{
  background: #fff;
  border-radius: 10px;
  margin: 10px 0 10px 0;
  margin-bottom: 0;
  padding: 20px;
  width: 610px;
  overflow: auto;
}

.testResult{
  background: #fff;
  border-radius: 10px;
  margin: 10px;
  margin-left: 5px;
  margin-bottom: 0;
  padding: 20px;
  width: 100%;
  overflow: auto;
}