
.test{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 93vh;
}

.left{
  height: 93vh;
}

.search{
  background: #fff;
  border-radius: 10px;
  margin: 10px 0px 10px 0px;
  margin-bottom: 0;
  padding: 20px;
}

.leftMiddle{
  display: flex;
  flex-direction: column;
}

.patientCard{
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #fff;
  border-radius: 10px 10px 0px 0px;
  margin: 10px 0px;
  margin-bottom: 0;
  height: 300px;
  /* justify-content: center; */
}

.noselect{
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.noselect .content{
  font-size: 20px;
  margin-top: 20px;
  font-weight: 600;
}


.selectIcon{
  font-size: 80px;
  color: rgb(0, 75, 146);
  text-align: center;
}


.noState{
  margin-top: 25px;
}


.State{
  background: #fff;
  border-radius: 0px 0px 10px 10px;
  text-align: center;
  padding: 0px 30px 35px 30px;
}

.testList{
  background: #fff;
  border-radius: 10px;
  margin: 10px 0 10px 0;
  margin-bottom: 0;
  padding: 20px;
  width: 610px;
  overflow: auto;
  height: 49%;
}

.testResult{
  background: #fff;
  border-radius: 10px;
  margin: 10px;
  margin-left: 5px;
  margin-bottom: 0;
  padding: 20px;
  width: 100%;
  overflow: auto;
  height: 100%;
}