.Weather_contain{
  width: 26.5%;
  background-color: white;
  border-radius: 30px;
  margin-right: 30px;
  height: 510px;
  overflow: auto;
}

.Weather_header{
  margin-top: 30px;
  margin-left: 30px;
  color:#1971c2;
  font-weight: 600;
  font-size: large;
}
.info{
  margin-left: 10px;
}
.Weather_header > span{
  margin-left: 10px;
}
.Weather_body {
  text-align: center;
}

.refresh{
  border: none;
  border-radius: 70%;
  background-color: white;
  margin-right: 30px;
  color: rgb(87, 87, 87);
}
.refresh:hover{
  background-color: lightgray;
}



