.account{
  margin: 0 200px;
  margin-top: 5px;
}

.account .body{
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 5px;
  padding-bottom: 80px;
}

.body .top{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 30px;
}

.top .title{
  font-size: 23px;
  font-weight: 600;
}

.body .content{
  display: flex;
  flex-direction: row;
  width: 100%;
}

.content .left{
  width: 30%;
}

.right{
  width: 70%;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 0px 10px 10px 0px;
}

.mainInfo hr{
  margin: 20px;
}
