.register-form-row {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.border-title {
  width: 100px;
  border-radius: 10px;
  margin-right: 10px;
}

.register-form-birth {
  width: 70%;
  display: flex;
}

.cancel-button {
  background-color: white; 
  border-color: #ced4da;
  border-radius: 10px;
  color: #ced4da;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.cancel-button:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}