.first_content {
  display: flex;
  height: 100%;
}
.second_content {
  display: flex;
}

.appointment_component {
  padding-right: 20px;
  padding-bottom: 20px;
}

.reception_component {
  padding-right: 20px;
  padding-bottom: 20px;
}

.testlist_component {
  height: 50%;
}

.search_patient_component {
  padding-bottom: 30px;
}

.patient_information_component {
  height: 50%;
}