.first-content {
  display: flex;
  padding: 30px 30px;
  height: 100%;
}
.second-content {
  display: flex;
  height: 50%;
}

.appointment-component {
  padding-right: 30px;
  padding-bottom: 30px;
}

.reception-component {
  padding-right: 30px;
  padding-bottom: 30px;
}

.testlist-component {
  height: 50%;
}

.search-patient-component {
  padding-bottom: 30px;
  height: 50%;
}

.patient-information-component {
  height: 50%;
}