.search-patient {
  background-color: white;
  border-radius: 30px;
  border-color: white;
  padding: 20px;
  width: 35rem;
  height: 100%;
}
.search-text {
  font-size: 1rem;
}
.search-first-content {
  display: flex;
}

.search-second-content {
  display: flex;
}