.contain{
  background-color: white;
  height: 870px;
  border-radius: 20px;
  padding:15px 30px;
}
.editor{
  height: 660px;

}
.title{
  margin-bottom: 10px;
  border-bottom: 1px solid lightgray;
  padding-bottom: 10px;
  
}
.title_input{
  font-size: 24px;
  outline: 0;
  border: none;
  width: 500px;
}
.info{
  margin-top: 50px;
  text-align: left;
}
.file{
  width: 200px;
}
.contain_div{
  width: 700px;
  transform: translate(75%,0);
}
.footer{
  text-align: center;
  margin-top: 80px;
}
.footer > button{

    width: 100px;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    margin-right: 20px;
}
.footer > button:nth-child(1){
  background-color: gray;
  color: white;
}

.footer > button:nth-child(2){
  background-color: #04436d;
  color: white;
}

.footer > button:hover{
  opacity: 0.8;

}
