.code{
  width: 30%;
  font-weight: 600;
  font-size: 14px;
  border-bottom: 1px solid #dee2e6;
  padding-top: 2px;
}
.testname{
  width: 70%;
  font-weight: 600;
  font-size: 14px;
  border-bottom: 1px solid #dee2e6;
  padding-top: 2px;
}
.thead{
  display: flex;
  height: 30px;
}