.TodayAppointment_contain{
  background-color: white;
  border: none;
  border-radius: 60px;
  padding: 30px 30px;
  margin-top: 20px;
  height: 500px;
}
.table_t{
  height: 400px;
  overflow: auto;
}
.TodayAppointment_contain table{
  padding: 50px;
  text-align: center;
  width: 100%;  
}
.TodayAppointment_contain  table thead{
  background-color: #e9ecef;
}
.TodayAppointment_contain table th{
  border: 1px solid lightgrey;
  padding: 2px px;
  font-weight: 700;
}
.TodayAppointment_contain table tbody td{
  height: 30px;
  border: 1px solid lightgrey;
  width: auto;
}
.TodayAppointment_title{
  margin-bottom: 10px;
  font-size: large;
  font-weight: 700;
}