

body{
  overflow: hidden;
}
.main {
  font-family: 'Noto Sans CJK KR';

  display: flex;
  flex-direction: column;
  padding-left: 65;
}
.header {
  height:30px;
  background-color: rgb(188, 206, 221);
  width: 100%;
}
.body{
  display: flex;
  height: 100vh;
}
.content {
  width: 100%;
  height: 100%;
  margin-right: 0;
  background: #f1f4f7;
  padding: 15px 15px;
  
}

.sidebar {
  overflow: hidden;
  width: 65px;
  background: #00253d;
}

.selected {
  background: #0d4467;
  color: #e9e9e9;
  font-size: 30px;
  height: 100%;
  text-align: center;
}

.unselected {
  background: none;
  color: #e9e9e9;
  font-size: 30px;
  height: 100%;
  text-align: center;
}

.sidebar .nav a i{
  font-size: 25px;
  -webkit-text-stroke: 0.6px #00253d ;
}

.sidebar .nav a:hover{
  background: #0d4467;
  color: #e9e9e9;
}


.chaticon{
  background: none;
  color: #e9e9e9;
  text-align: center;
  font-size: 25px;
  border: hidden;
  margin-top: 345px;
}

.notReadNum{
  color: white;
}

.alert-ballon{
  padding:0.125rem 0.3125rem;
  border: 1px solid tomato;
  background-color: tomato;
  border-radius: 10px;
  font-size: 5px;
  color:white;
  position:absolute;
  top:870px;
  left:30px;
}

@media (max-width:1820px){
  .alert-ballon{
    padding:0.125rem 0.3125rem;
    border: 1px solid tomato;
    background-color: tomato;
    border-radius: 10px;
    font-size: 5px;
    color:white;
    position:absolute;
    top:-50px;
    left:-50px;

  }
}
/* 헤더 ========== */

.appHeader{
  margin-top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.appHeader .hospitalTitle .hospitalIcon{
  margin-right: 10px;
}

.appHeader .hospitalTitle{
  margin-left: 10px;
}

.appHeader .hospitalTitle .name{
  font-weight: 600;
}

.appHeader .loginUser{
  margin-right: 20px;
}

.appHeader .loginUser .name{
  font-weight: 600;
  margin-right: 20px;
}

.appHeader .loginUser .logOut{
  color: #303030;
  font-weight: 600;
}

.appHeader .loginUser .logOut:hover{
  color: #aa4400;
}

.appHeader .loginUser .logOutIcon{
  margin-right: 10px;
}

.appHeader .currentTime{
  display: flex;
}

.currentTime .date{
  font-size: 15px;
  font-weight: 600;
  margin: 4px 5px;
  color: #5a5a5a;
}

.currentTime .time{
  font-size: 15px;
  font-weight: 800;
  margin: 4px 5px;
  color: #00253d;
}


.appRoute{
  z-index: 1;
}
.chat{
  z-index: 6;
  position: absolute;
  left: 20;
  bottom: 0;
}