.StaffAdd{
  display: flex;
  justify-content: right;
  margin-right: 20px;
}

.button{
  width: 150px;
  background-color: #00253d;
  border-radius: 20px;
  padding: 10px 30px;
  color: #fff;
  font-weight: 700;
  margin: 5px;
}

.button:hover{
  background-color: #0d4467;
  color: #fff;
}

.button2{
  width: 150px;
  background-color: #965500;
  border-radius: 20px;
  padding: 10px 30px;
  color: #fff;
  font-weight: 700;
  margin: 5px;
}

.button2:hover{
  background-color: #bb6a00;
  color: #fff;
}

.addIcon{
  margin-right: 10px;
}



